body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #121212;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Make all canvas elements fullscreen */
canvas {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
}

/* For canvas in a container */
.fullscreen-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
